* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #333;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
.container {
	max-width: 1650px;
	padding: 0 50px;
	margin: 0 auto;
}

.header {
	padding-top: 20px;
	padding-bottom: 50px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #333;
}

.header__top {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}
.header__top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}

.logo {
	margin-right: 100px;
}

.header__form-input {
	width: 365px;
	height: 45px;
	background-color: #c3cdd1;
	border: none;
	padding: 5px 10px;
	color: #333;
}

.header__form-input::placeholder {
	color: #333;
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
}

.header__form-btn {
	background-color: #c3cdd1;
	height: 45px;
	border: none;
	padding: 5px 10px;
	color: #333;
	cursor: pointer;
}

.header__form-btn:hover {
	background-color: #aca8a8;
	color: #fff;
}

.icon-nav__list {
	display: flex;
}

.icon-nav__item:not(last-child) {
	margin-right: 20px;
}

.icon-nav__link {
	display: inline-block;
	transition: transform 1s;
}

.icon-nav__link:hover {
	text-decoration: underline;
	color: #333;
	transform: scale(1.1);
}

.main-nav {
	padding: 20px 0;
}
.main-nav__list {
	display: flex;
}

.main-nav__item:not(last-child) {
	margin-right: 30px;
}

.main-nav__link {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
}

.main-nav__link:hover {
	text-decoration: underline;
	color: #000;
}

.banner {
	min-height: 450px;
	width: 100%;
	background-image: url(./media/discount.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 50px;
	margin: 0 auto;
}

.banner-text {
	display: none;
}

.products__item {
	width: 1188px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
}

.products-section {
	padding-bottom: 50px;
}

.products__item-link > img {
	opacity: 1;
}

.products__item-link > img:hover {
	opacity: 0.2;
}

.products__item-list:hover .products__item-text {
	display: block;
	border: 2px solid #000;
	font-size: small;
	color: #000;
	padding: 10px 15px;
	font-weight: 900;
}

.products__item-text {
	position: absolute;
	display: none;
}

.products__item-link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	line-height: 1.3;
	font-weight: 300;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	height: 100%;
}

.item-2 {
	background-color: #2d4022;
}

.item-5 {
	background-color: #db9675;
}

.item-8 {
	background-color: #627057;
}

.bread-crumbs {
	padding-left: 55px;
	padding-bottom: 20px;
}

.jumper__inner {
	display: flex;
	justify-content: space-between;
}

.jumper__inner-text {
	width: 400px;
	text-align: center;
	height: auto;
}

.jumper__inner-title {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}

.jumper__inner-cost {
	margin-bottom: 20px;
	font-size: 20px;
}

.jumper__inner-cost--discount {
	padding: 10px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	font-size: 20px;
}

.jumper__inner-wrapper {
	display: flex;
	justify-content: space-evenly;
	color: white;
	padding: 20px 0;
}

.jumper__inner-color {
	position: relative;
	padding-top: 40px;
	color: black;
	cursor: pointer;
	opacity: 0.7;
}

.jumper__inner-color:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #000;
	top: 0;
	left: 2px;
	border-radius: 50%;
}

.jumper__inner-color:nth-child(1)::before {
	background-color: black;
}
.jumper__inner-color:nth-child(2)::before {
	background-color: #c7c72a;
}
.jumper__inner-color:nth-child(3)::before {
	background-color: #6e6e67;
}
.jumper__inner-color:nth-child(4)::before {
	background-color: #0a51e9;
}
.jumper__inner-color:nth-child(5)::before {
	background-color: #2ab5c7;
}

.jumper__inner-color:hover {
	text-decoration: underline;
	opacity: 1;
}

.size-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.size-buttons__btn {
	border: 1px solid #a59e9e;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	padding-top: 10px;
	background-color: #cec6c6;
	cursor: pointer;
}

.size-buttons__btn:hover {
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
}

.size-buttons__btn:not(:last-child) {
	margin-right: 10px;
}

.cart-button {
	height: 45px;
	width: 200px;
	border: none;
	padding: 5px 10px;
	color: #fcfafa;
	cursor: pointer;
	background-color: #000000;
	border: 1px solid transparent;
	font-size: 20px;
	border-radius: 10px;
}

.cart-button:hover {
	border: 1px solid #070707;
	color: #000000;
	background-color: #f8f8f8;
}

.footer-top {
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	border-top: 1px solid #333;
	line-height: 30px;
}

.footer-bottom {
	text-align: center;
	border-top: 1px solid #333;
	background-color: #333;
	color: #fff;
	padding-top: 10px;
}

.footer-social {
	text-align: center;
}
.footer-social__list {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #333;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.footer-top > div > p {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}

.footer-social__link > img {
	width: 20px;
	height: 20px;
}

.footer-social__item:not(:last-child) {
	margin-right: 10px;
}

.footer-contact__address,
.footer-contact__phone,
.footer-contact__email {
	padding-left: 26px;
	position: relative;
}
.footer-contact__address::before {
	content: '';
	position: absolute;
	background-image: url(./media/place.svg);
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

.footer-contact__phone::before {
	content: '';
	position: absolute;
	background-image: url(./media/phone.svg);
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

.footer-contact__email::before {
	content: '';
	position: absolute;
	background-image: url(./media/email.svg);
	background-size: contain;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

/* ADAPTIVE */
@media screen and (max-width: 1350px) {
	.banner {
		width: 100%;
	}
}

@media screen and (max-width: 1300px) {
	.banner {
		width: 100%;
	}
}

@media screen and (max-width: 1220px) {
	.banner {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.icon-nav__list {
		flex-wrap: wrap;
	}
	.header__form-input {
		flex-wrap: wrap;
		width: 350px;
	}
	.header__form-btn {
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.main-nav__list {
		flex-wrap: wrap;
	}

	.banner {
		width: 1100px;
	}
	.logo {
		width: 200px;
	}
}

@media screen and (max-width: 1150px) {
	.icon-nav__list {
		flex-wrap: wrap;
	}
	.header__form-input {
		flex-wrap: wrap;
		width: 300px;
	}
	.header__form-btn {
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.main-nav__list {
		flex-wrap: wrap;
	}

	.banner {
		width: 1100px;
	}
	.logo {
		width: 150px;
	}
}

@media screen and (max-width: 1100px) {
	.icon-nav__list {
		flex-wrap: wrap;
	}
	.header__form-input {
		flex-wrap: wrap;
		width: 280px;
	}
	.header__form-btn {
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.main-nav__list {
		flex-wrap: wrap;
		margin-left: 5px;
	}

	.banner {
		width: 100%;
		padding: 0 0;
	}
	.logo {
		width: 130px;
	}
}

@media screen and (max-width: 1050px) {
	.icon-nav__list {
		flex-wrap: wrap;
	}
	.header__form-input {
		flex-wrap: wrap;
		width: 250px;
	}
	.header__form-btn {
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.main-nav__list {
		flex-wrap: wrap;
		margin-left: 5px;
	}

	.banner {
		width: 100%;
	}
	.logo {
		width: 110px;
	}
}

@media screen and (max-width: 1000px) {
	.icon-nav__list {
		flex-wrap: wrap;
	}
	.header__form-input {
		flex-wrap: wrap;
		width: 250px;
	}
	.header__form-btn {
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.main-nav__list {
		flex-wrap: wrap;
		margin-left: 5px;
	}

	.banner {
		width: 100%;
		display: none;
	}
	.banner-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #e66109;
		border: 1px solid #7e7777;
		padding: 20px 50px;
		background-color: #d6d5cb;
	}
	.banner-text__btn {
		border: 1px solid #c0842a;
		padding: 3px 10px;
	}
	p {
		margin-bottom: 10px;
		font-weight: 900;
	}
	.logo {
		width: 110px;
	}
}

@media screen and (max-width: 850px) {
	.icon-nav__list {
		flex-wrap: wrap;
		margin-left: 5px;
	}
	.header__form-input {
		flex-wrap: wrap;
		width: 200px;
	}
	.header__form-btn {
		flex-wrap: wrap;
		margin-top: 10px;
	}
	.main-nav__list {
		flex-wrap: wrap;
		margin-left: 10px;
	}

	.main-nav__link {
		flex-wrap: wrap;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.banner {
		width: 100%;
		display: none;
	}
	.banner-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #e66109;
		border: 1px solid #7e7777;
		padding: 20px 50px;
		background-color: #d6d5cb;
	}
	.banner-text__btn {
		border: 1px solid #c0842a;
		padding: 3px 10px;
	}
	p {
		margin-bottom: 10px;
		font-weight: 900;
	}
	.logo {
		width: 110px;
	}
}
